.circular-timer {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .circular-timer svg {
    transform: rotate(-90deg);
  }
  
  .circular-timer text {
    font-size: 2rem;
    font-weight: bold;
    fill: #6ebf4a;
    text-anchor: middle;

    transform: translate(100px, 105px); /* Center text in the circle */
  }
  